In [4]:
CREATE DATABASE Shecodes;
GO
USE Shecodes;
GO

CREATE TABLE [User] (
  ID_user       INT PRIMARY KEY,
  fullname      NVARCHAR(255) NOT NULL,
  phone_number  CHAR(10),
  the_needy     INT,
  ready         INT,
  user_type     INT,
  longitude     FLOAT,
  latitude      FLOAT,
)
GO

CREATE TABLE [Support_Point](
    ID_point    INT PRIMARY KEY,
    ID_user     INT,
    the_needy   INT,
)

CREATE TABLE [Item](
    ID_item             INT PRIMARY KEY IDENTITY(120,1),
    item_name           NVARCHAR(255),
    current_need_quantity       INT,
    supported_quantity  INT,
    medical_flag        INT,
)

CREATE TABLE [Belong](
    ID_item     INT,
    ID_point    INT,
    quantity    INT,
    PRIMARY KEY (ID_item, ID_point)
)

CREATE TABLE [Bill](
    ID_bill     INT PRIMARY KEY,
    ID_helper   INT,
    ID_needy    INT,
)

CREATE TABLE [Account](
	ID_user     INT PRIMARY KEY,
	username    NVARCHAR(255),
	pwd         NVARCHAR(255)
);

: Msg 1801, Level 16, State 3, Line 1
Database 'Shecodes' already exists. Choose a different database name.

: Msg 2714, Level 16, State 6, Line 6
There is already an object named 'User' in the database.

: Msg 1770, Level 16, State 0, Line 53
Foreign key 'FK__Belong__ID_point__3B75D760' references invalid column 'ID_point' in referenced table 'dbo.Item'.

: Msg 1750, Level 16, State 1, Line 53
Could not create constraint or index. See previous errors.

In [9]:
ALTER TABLE [dbo].[Account] ADD FOREIGN KEY (ID_user) REFERENCES dbo.[User] (ID_user);
ALTER TABLE [dbo].[Belong] ADD FOREIGN KEY (ID_item) REFERENCES dbo.[Item] (ID_item);
ALTER TABLE [dbo].[Belong] ADD FOREIGN KEY (ID_point) REFERENCES dbo.[Support_Point] (ID_point);
ALTER TABLE [dbo].[Bill] ADD FOREIGN KEY (ID_helper) REFERENCES dbo.[Support_Point] (ID_point);
ALTER TABLE [dbo].[Bill] ADD FOREIGN KEY (ID_needy) REFERENCES dbo.[Support_Point] (ID_point);

In [10]:
USE Shecodes;
GO

INSERT INTO [User]
  VALUES
        --DOCTOR
        (1,'Hong Phuc',N'0919813177',0,0,1,10.80529,106.6806218),
        --NURSE
        (2,'Hong Hoa',N'0919813654',0,0,2,10.8043099,106.6810831),
        --THE NEEDY
        (3,'Thanh Xuan',N'091986523',0,0,3,10.8043099,106.6810831),
        --THE GIVER
        (4,'Amanda Vu',N'0918658214',0,0,4,10.8093684,106.6937217),
        --ADMIN
        (5,'Le Tran',N'0984756215',0,0,5,10.8067443,106.6969725);            
GO

INSERT INTO Account
    VALUES
            (1,'hongphuc', 'hongphuc'),
            (2,'honghoa','honghoa'),
            (3,'thanhxuan','thanhxuan'),
            (4,'amanda','amanda'),
            (5,'letran','letran');
GO

: Msg 8101, Level 16, State 1, Line 4
An explicit value for the identity column in table 'User' can only be specified when a column list is used and IDENTITY_INSERT is ON.

: Msg 547, Level 16, State 0, Line 18
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__Account__ID_user__398D8EEE". The conflict occurred in database "Shecodes", table "dbo.User", column 'ID_user'.

In [ ]:
--DONT RUN


CREATE TRIGGER NewPoint ON dbo.SupportPoint
FOR INSERT
AS
BEGIN
	DECLARE @ID INT,
            @

	SELECT @ID = Deleted.[ID_chương trình] FROM Deleted;
	UPDATE dbo.[Chương trình] SET [Loại chương trình] = REPLACE([Loại chương trình], N'TT', N'') 
	WHERE [ID_chương trình] = @ID;
END;
GO